*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media (min-width: 56.25em) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 62.5em) {
  html {
    font-size: 87.5%;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fdfdfd;
  background-color: #f9fdfd;
}

@media (min-width: 48em) {
  body {
    padding-left: 165px;
  }
}

.btn {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.nav {
  position: fixed;
  background-color: #bdceda;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 15px 0 0 #fdfdfd;
          box-shadow: 15px 0 0 #fdfdfd;
  z-index: 20;
}

@media (min-width: 48em) {
  .nav {
    left: 0;
    top: 0;
    width: 150px;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
}

.nav__logo {
  font-size: 6rem;
  font-family: 'Dancing Script', sans-serif;
  color: #f5f4f4;
  margin: 1.5rem 6rem;
  text-align: left;
  text-shadow: 0 0 4px black;
}

@media (min-width: 48em) {
  .nav__logo {
    text-align: center;
    margin: 1.5rem 0;
  }
}

.nav__bars-box {
  height: 50px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 50px;
}

@media (min-width: 48em) {
  .nav__bars-box {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}

.nav__bars {
  position: relative;
  display: block;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background-color: #f5f4f4;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.582);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.582);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__bars::after {
  content: '';
  position: absolute;
  top: 10px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #f5f4f4;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.582);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.582);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__bars::before {
  content: '';
  position: absolute;
  top: -10px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #f5f4f4;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.582);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.582);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 48em) {
  .nav__bars {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}

.nav__link:visited, .nav__link:link {
  display: block;
  width: 120%;
  text-decoration: none;
  text-transform: uppercase;
  color: #1f202b;
  font-size: 18px;
  line-height: 60px;
  border-radius: 10px 0 0 10px;
}

.nav__box {
  position: absolute;
  left: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 100%;
  -webkit-transform: translate(100%, 180px);
          transform: translate(100%, 180px);
  padding: 2rem;
  border-radius: 20px;
  gap: 1rem;
  background-color: #bdceda;
  color: #f5f4f4;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

@media (min-width: 48em) {
  .nav__box {
    position: static;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    padding: 0;
    height: 100%;
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav__icon {
  position: relative;
  display: inline-block;
  min-width: 40px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.carousel {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

.carousel__image-field {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.9s;
  transition: -webkit-transform 0.9s;
  transition: transform 0.9s;
  transition: transform 0.9s, -webkit-transform 0.9s;
}

.carousel__img {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel__btn-box {
  position: absolute;
  top: 95%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  color: #fff;
}

.carousel__btn {
  border: none;
  background: none;
  color: #fff;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.carousel__btn:hover {
  color: #e6bc31;
}

.carousel__photo-status {
  font-size: 1.8rem;
}

.about {
  position: relative;
  background-color: #fdfdfd;
  overflow: hidden;
}

.about__title-box {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 1rem 2rem;
  border-radius: 40%;
}

.about__title-box::after, .about__title-box::before {
  content: '';
  display: block;
  width: 500%;
  height: 2px;
  position: absolute;
  left: -510%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #1f202b;
}

.about__title-box::before {
  left: 110%;
}

.about__title {
  position: relative;
  font-family: sans-serif;
  position: relative;
  font-size: 4.5rem;
  font-family: 'Caveat', sans-serif;
  color: #1f202b;
  font-weight: bold;
}

.about__title::after {
  content: '';
  display: block;
  width: 130%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 53%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px solid #1f202b;
  border-radius: 8px;
}

.about__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12rem 4rem;
  padding-top: 5rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 48em) {
  .about__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 12rem 6rem;
    padding-top: 5rem;
  }
}

.about__img-box {
  position: relative;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.about__img-box::after {
  content: '';
  width: 95%;
  height: 80%;
  position: absolute;
  bottom: -8%;
  right: -7%;
  border: 8px solid rgba(149, 175, 192, 0.6);
  border-radius: 5px;
  z-index: 3;
}

.about__img {
  position: relative;
  width: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about__text-content {
  position: relative;
  padding: 2rem;
  -webkit-box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
  background-color: #fdfdfd;
  z-index: 2;
}

.about__text-content::after {
  content: '';
  display: block;
  position: absolute;
  top: 30%;
  right: -30px;
  height: 80%;
  width: 30%;
  border: 10px dotted #1f202b;
  border-left: none;
  border-top: none;
}

@media (min-width: 48em) {
  .about__text-content {
    margin-left: 4rem;
  }
  .about__text-content::after {
    top: -10%;
    height: 120%;
    width: 40%;
    border: 6px dotted #1f202b;
    border-left: none;
  }
}

.about__heading {
  font-size: 3.5rem;
  font-family: 'Dancing Script', sans-serif;
  margin-bottom: 1rem;
  font-weight: bold;
}

.about__text {
  font-size: 1.8rem;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.about__circle {
  position: absolute;
  width: 50%;
  right: -25%;
  top: -15%;
}

.gallery__top-box {
  position: relative;
  width: 100%;
  min-height: 85vh;
  height: 100%;
  background-image: url("../img/gallery-entry.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fdfdfd;
}

@media (min-width: 48em) {
  .gallery__top-box {
    padding: 2.5rem 0;
  }
}

.gallery__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.gallery__heading {
  margin-top: 4rem;
  text-align: center;
  font-size: 6rem;
  font-family: 'Dancing Script', sans-serif;
  z-index: 1;
}

.gallery__description {
  text-align: center;
  font-size: 1.6rem;
  margin: 3.5rem 4rem;
  z-index: 1;
}

@media (min-width: 48em) {
  .gallery__description {
    margin: 3.5rem 8rem;
  }
}

.gallery__btn {
  position: relative;
  padding: 1.5rem 2.5rem;
  color: #fdfdfd;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 20px;
  text-transform: uppercase;
  border: 2px solid #f8f3f3;
  -webkit-box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.8);
          box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

.gallery__btn::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  display: block;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 20px;
  border: 2px solid #f8f3f3;
  -webkit-transition: visibility 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: visibility 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, visibility 0.3s, opacity 0.3s;
  transition: transform 0.3s, visibility 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  visibility: hidden;
}

.gallery__btn:link, .gallery__btn:visited {
  text-decoration: none;
  color: currentColor;
}

.gallery__btn:hover, .gallery__btn:focus {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 1rem 1.8rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 1.8rem rgba(0, 0, 0, 0.2);
}

.gallery__btn:hover::after, .gallery__btn:focus::after {
  visibility: visible;
  -webkit-transform: scaleX(1.6) scaleY(2);
          transform: scaleX(1.6) scaleY(2);
  opacity: 0;
}

.gallery__btn:active {
  -webkit-transform: scale(1.05) translateY(-3px);
          transform: scale(1.05) translateY(-3px);
}

.gallery__bottom-box {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: #fdfdfd;
  border-radius: 8px;
  padding: 1.5rem 2.5rem;
  padding-bottom: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  gap: 8rem;
}

@media (min-width: 48em) {
  .gallery__bottom-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2.5rem;
  }
}

@media (min-width: 56.25em) {
  .gallery__bottom-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
  }
}

.gallery__item {
  position: relative;
  width: 80%;
  margin-top: 1.5rem;
  padding: 1.5rem;
  border-radius: 5px;
  -webkit-box-shadow: 3px 5px 8px rgba(37, 31, 31, 0.3);
          box-shadow: 3px 5px 8px rgba(37, 31, 31, 0.3);
  text-align: center;
}

@media (min-width: 48em) {
  .gallery__item {
    width: 49%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 48%;
            flex: 1 1 48%;
    padding: 1.5rem;
  }
}

@media (min-width: 68.75em) {
  .gallery__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
    height: 550px;
  }
}

.gallery__item-text-box {
  position: absolute;
  width: 80%;
  bottom: -10%;
  padding: 1.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 3px 5px 8px rgba(37, 31, 31, 0.3);
          box-shadow: 3px 5px 8px rgba(37, 31, 31, 0.3);
  background-color: #fdfdfd;
}

@media (min-width: 56.25em) {
  .gallery__item-text-box {
    position: static;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-box-shadow: unset;
            box-shadow: unset;
    width: 100%;
  }
}

.gallery__item-heading {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

@media (min-width: 48em) {
  .gallery__item-heading {
    font-size: 1.6rem;
  }
}

.gallery__item-description {
  font-size: 1.4rem;
  width: 80%;
}

@media (min-width: 48em) {
  .gallery__item-description {
    font-size: 1.2rem;
    width: 95%;
  }
}

@media (min-width: 56.25em) {
  .gallery__item-description {
    margin-left: 0.5rem;
    margin-top: 1rem;
  }
}

.gallery__img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
}

@media (min-width: 48em) {
  .gallery__img {
    height: 300px;
  }
}

.active {
  position: relative;
  background-color: #fdfdfd;
  color: #1f202b;
}

.active::after {
  content: '';
  position: absolute;
  top: -30px;
  right: 9px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 15px 15px 0 #fdfdfd;
          box-shadow: 15px 15px 0 #fdfdfd;
}

.active::before {
  content: '';
  position: absolute;
  top: 60px;
  right: 9px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 15px -15px 0 #fdfdfd;
          box-shadow: 15px -15px 0 #fdfdfd;
}

.active::before .btn {
  outline: none;
  background: none;
  border: none;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.swipeDown {
  -webkit-transform: translate(0, 180px) !important;
          transform: translate(0, 180px) !important;
}

.moveBars {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.moveBars::after {
  content: '';
  position: absolute;
  top: 0;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.moveBars::before {
  content: '';
  position: absolute;
  top: 0px;
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}
/*# sourceMappingURL=style.css.map */