$color-bg-primary: #fdfdfd;
$color-bg-secondary: #ecfbfc;
$color-bg-tetriary: #95afc0;
$color-font: #1f202b;
$color-nav: #ebd1d1;
$color-footer: #ff7675;

$color-primary: #e6bc31;
$color-secondary: #7d3be2;
